In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("grading.csv")

In [ ]:
df.head(10)

Question 1
5 points

Retrieve the number of rows of the DataFrame df and assign the value as an integer to ans1.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans1 = df.shape[0]
### END SOLUTION

Question 2
5 points

What does the attribute .columns return?

a) A dictionary that has column labels as keys and the mean of each column as values.
b) The number of columns in the DataFrame.
c) The column labels of the DataFrame.
d) An empty DataFrame with the column labels.
Assign the letter corresponding to your choice as a string to ans2.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans2 = "c"
### END SOLUTION

Question 3
5 points

Use the .rename() function in pandas to rename the column Class Roll to enrollment and assign this to a new DataFrame called df3.

Note: questions 3, 4, and 5 are related and need to be solved in sequence.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
df3 = df.rename(columns={'Class Roll': 'enrollment'})
### END SOLUTION

Question 4
5 points

Convert the entries from df3 in the column Observation (Marks: 20) from integers to floats. Assign the result to df4.

Hint: use the function .to_numeric() by setting the argument downcast = float

In [ ]:
### GRADED

### YOUR SOLUTION HERE
df4 = pd.to_numeric(df3["Observation (Marks: 20)"], downcast = "float")
### END SOLUTION

Question 5
5 points

What is the type of df4?

a) A dictionary
b) A pandas DataFrame
c) A pandas series
d) A list
Assign the letter corresponding to your choice as a string to ans5.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
ans5 = 'c'
### END SOLUTION

Module 10: Dealing with Missing or Duplicate Data
You will often have missing or duplicate data in your dataset. It is important that you know how to work through this issue without fundamentally impacting the results of your analysis. The first sentinel value used by Pandas is None, a Python singleton object that is often used for missing data in Python code. Because it is a Python object, None cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type object. The other missing data representation, NaN (acronym for Not a Number), is different; it is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation. A complete guide about how to handle missing values values in pandas can be found here.

Next, we will fill in missing values with Nan. In another column, we will drop all Nan values. We will also drop all duplicate values.

Question 6
5 points

Fill the missing values in the column CT-2 (Marks: 20) in the DataFrame df3 with the mean of that column. Assign the result to df6.

In [ ]:
### GRADED

### YOUR SOLUTION HERE
df6 = df3['CT-2 (Marks: 20)'].fillna( df3['CT-2 (Marks: 20)'].mean()) 
### END SOLUTION

Question 7
5 points

Drop all of the Nan entries in df3. Assign the result to df7.

In [ ]:
# GRADED

### YOUR SOLUTION HERE
df7 = df3.dropna()
### END SOLUTION

Question 8
5 points

Compute the mean of enrollment in the DatFrame df3. Assign the result to ans8.

In [ ]:
## GRADED

### YOUR SOLUTION HERE
ans8 = np.mean(df3.enrollment)
### END SOLUTION

Question 9
5 points

Drop all of the duplicate values in the DataFrame df3. Assign the new result to df9.

In [ ]:
### GRADED

### YOUR SOLUTION HEREd
df9 = df3.drop_duplicates()
### END SOLUTION