Q-1
* Assign the value of 175 multiplied by 16.26 to the variable ans1 and make sure it's stored as a float

In [2]:
ans1= 175*16.28
print(ans1)
type(ans1)

2849.0

float

Q-2
* Assign the value of 572 divided by 8.73 to the variable ans2 and make sure  it's stored as a float

In [3]:
ans2= 572/8.23
type(ans2)

float

Q-3
* Assign the sentence "I am a student" as a string  the variable ans3.

In [4]:
ans3= 'I am a student'
type(ans3)

str

Q-4
* Assign the value of 25.927 to the variable ans4 and convert it into an integer.

In [5]:
ans4= int(25.927)
int(ans4)

25

Q-5
* Create a list with a numbers 1,4,9.16.25 and assign it to a variable called list_1

In [4]:
list_1=[1,4,9,16,25]
print(type(list_1))

<class 'list'>

Q-6
* Create a list elements:1,'Hello',14,5.6 and assign it to a variable called list_2

In [5]:
list_2=[1,'Hello',14,5.6]
print(type(list_2))

<class 'list'>

Q-7
* Given list_3=[3,4,5],create a nested  list that includes the elements'Columbia',11,24.5,3, and list_3 assign it to a variable
called list_4.

In [1]:
list_3=[3,4,5]
list_4=['Columbia',11,24.5,3,list_3]
list_4

['Columbia', 11, 24.5, 3, [3, 4, 5]]

Q-8
* Given list_5= [3,4,5,6,7,8,9],acces the last element of the list and assign list_5_elem.

In [2]:
 list_5= [3,4,5,6,7,8,9]
list_5_elem=list_5[-1]
list_5_elem

9

Q-9
* Define list_6= [10,20,30,'Hello',5.82,1,'student','Python] and delete the third last element on the list.

In [6]:
 list_6= [10,20,30,'Hello',5.82,1,'student','Python']
del list_6[-3]
list_6

[10, 20, 30, 'Hello', 5.82, 'student', 'Python']

Q-10
* Create a tuple with elements from 10 to 20 and assign it to variable tuple_1.Get the first three values and assign them to a veriable called sliced_tuple_1

In [8]:
tuple_1 =tuple(range(10,21))
sliced_tuple_1=tuple_1[:3]
sliced_tuple_1

(10, 11, 12)

Q-11
* Create a dictionary with a key "name" with value "Andrew","and key "age" with 25. Assign it to variable called dict_1

In [14]:
dict_1={"name:""Andrew","age:"'25'}
dict_1

{'age:25', 'name:Andrew'}

Q-12
* Create a new "city" in dict_1  and assign the value "Seatle" to it.

In [16]:
dict_1["city"]= "Seatle"

TypeError: 'set' object does not support item assignment

Q-13

In [ ]:
dict_1["city"]= "New York"
dict_1

In [ ]:
Q-14

In [ ]:
Q-15